{% extends 'base.html' %}
{% block content %}
<style>
    .form-table {
        width: 100%;
        border-spacing: 0 1rem;
    }

    .form-table td {
        vertical-align: top;
        padding: 0.25rem 0.5rem;
    }

    /* in your stylesheet */
    .form-table td:first-child {
        text-align: right;
        padding-right: 1rem;
        /* give a little breathing room */
    }

    .form-table label {
        font-weight: bold;
    }

    .form-table select,
    .form-table input {
        width: 100%;
        padding: 0.4rem;
        font-size: 1.125rem;
        border-radius: 4px;
        border: 1px solid #ccc;
    }
    /* red asterisk for required */
    .required-asterisk::after {
        content: " *";
        color: red;
    }
</style>

<script>
    window.onload = function () {
        if ("geolocation" in navigator) {
            navigator.geolocation.getCurrentPosition(function (position) {
                const lat = position.coords.latitude;
                const lon = position.coords.longitude;

                document.getElementById('latitude').value = lat;
                document.getElementById('longitude').value = lon;

                // Fetch reverse geocode
                fetch(`https://nominatim.openstreetmap.org/reverse?format=json&lat=${lat}&lon=${lon}`)
                    .then(response => response.json())
                    .then(data => {
                        const address = data.address;
                        if (address) {
                            document.getElementById('country').value = address.country || "";
                            document.getElementById('city').value = address.city || address.town || address.village || "";
                        }
                    })
                    .catch(err => console.error("Geo lookup failed", err));
            });
        }

        // initial toggle
        toggleHealthcareRole(document.getElementById('subject_type').value);
        document.getElementById('provider_type').addEventListener('change', toggleDoctorFields);
    };

    function updateFieldCount() {
        const select = document.getElementById("clinical-field");
        const count = Array.from(select.options).filter(option => option.selected).length;
        document.getElementById("field-count").innerText = `${count} selected`;
    }

    // show/hide provider sections
    function toggleHealthcareRole(value) {
        const providerTypeBlock = document.getElementById('provider_type_block');
        const fieldRow = document.getElementById('clinical-field-row');
        const practiceContextRow = document.getElementById('practice-context-row');
        const providerType = document.getElementById('provider_type');
        const field = document.getElementById('clinical-field');
        const practiceContext = document.getElementById('practice-context');

        const isProvider = (value === 'healthcare provider');

        providerType.required = isProvider;
        field.required = isProvider;
        practiceContext.required = isProvider;

        providerTypeBlock.style.display = isProvider ? 'table-row' : 'none';
        fieldRow.style.display = isProvider ? 'table-row' : 'none';
        practiceContextRow.style.display = isProvider ? 'table-row' : 'none';

        field.selectedIndex = -1

        if (!isProvider) {
            // reset dependent selects
            providerType.selectedIndex = 0;
            toggleDoctorFields();
            // field.selectedIndex = 0;
            practiceContext.selectedIndex = 0;
        }
    }

    // show/hide doctor-specific fields
    function toggleDoctorFields() {
        const isDoctor = document.getElementById('provider_type').value.toLowerCase() === 'doctor';
        const rows = ['career_stage_row','affiliation_row','graduation_year_row','practice_setting_row'];
        const fields = ['career_stage','affiliation','graduation_year','practice_setting'];

        rows.forEach(id => {
            const tr = document.getElementById(id);
            if (tr) tr.style.display = isDoctor ? 'table-row' : 'none';
        });

        // fields.forEach(fid => {
        //     const el = document.getElementById(fid);
        //     if (el) el.required = isDoctor;
        // });
    }


</script>

<section class="content-card">
<div class="card-header">
    <h1 class="card-title">
      Complete Your Profile
    </h1>
  </div>
    <p>Please fill in the following to participate in the study.</p>
    <div class="card">

        <form method="POST">
            <input type="hidden" id="latitude" name="latitude">
            <input type="hidden" id="longitude" name="longitude">
            <table class="form-table">
                <tr>
                    <td><label for="age" class="required-asterisk">Age</label></td>
                    <td><input type="number" name="age" id="age" required min="18" max="100"></td>
                </tr>
                <tr>
                    <td><label for="gender" class="required-asterisk">Gender</label></td>
                    <td>
                        <select name="gender" id="gender" required>
                            <option value="">-- Select Gender --</option>
                            <option value="Female">Female</option>
                            <option value="Male">Male</option>
                            <option value="Other">Other</option>
                            <option value="PNS">Prefer not to say</option>
                        </select>
                    </td>
                </tr>
                <tr>
                    <td><label for="race_ethnicity" class="required-asterisk">Race/Ethnicity</label></td>
                    <td>
                        <select name="race_ethnicity" id="race_ethnicity" required>
                            <option value="">-- Select Race/Ethnicity --</option>
                            <option value="Asian">Asian</option>
                            <option value="Black or African American">Black or African American</option>
                            <option value="Hispanic or Latino">Hispanic or Latino</option>
                            <option value="White">White</option>
                            <option value="Other">Other</option>
                        </select>
                    </td>
                </tr>
                <tr>
                    <td><label for="country" class="required-asterisk">Country</label></td>
                    <td>
                        <select name="country" id="country" required>
                            <option value="">-- Select Country --</option>
                            {% for country in country_options %}
                            <option value="{{ country.name }}">{{ country.name }}</option>
                            {% endfor %}
                        </select>
                    </td>
                </tr>
                <tr>
                    <td><label for="city" class="required-asterisk">City</label></td>
                    <td>
                        <input type="text" name="city" id="city" required>
                    </td>
                </tr>
                <tr>
                    <td colspan="2">
                        <input type="hidden" name="latitude" id="latitude">
                        <input type="hidden" name="longitude" id="longitude">
                    </td>
                </tr>
                <tr>
                    <td><label for="subject_type" class="required-asterisk">Select your healthcare-related role</label></td>
                    <td>
                        <select name="subject_type" id="subject_type" required
                            onchange="toggleHealthcareRole(this.value)">
                            <option value="">-- Select Option --</option>
                            <option value="healthcare provider">Healthcare provider</option>
                            <!-- {% for subject_type in subject_types %}
                            <option value="{{ subject_type.value }}">{{ subject_type.value | capitalize}}</option>
                            {% endfor %} -->
                        </select>
                    </td>
                </tr>
                <tr id="provider_type_block" style="display: none;">
                    <td><label for="provider_type" class="required-asterisk">Provider Type</label></td>
                    <td>
                        <select name="provider_type" id="provider_type" onchange="toggleDoctorFields()">
                            <option value="">-- Select Type --</option>
                            {% for provider_type in provider_type_options %}
                            <option value="{{ provider_type.value }}">{{ provider_type.value | capitalize}}</option>
                            {% endfor %}
                        </select>
                    </td>
                </tr>

                <tr id="clinical-field-row" style="display: none;">
                    <td>
                        <label for="field" class="required-asterisk">Field</label>
                        <div style="margin-top: 0.25rem; font-size: 0.85rem; color: var(--text-secondary);">
                            Hold down <strong>Ctrl (Windows)</strong> or <strong>Cmd ⌘ (Mac)</strong> to select multiple
                            options. <br />On mobile, tap to select multiple entries.
                        </div>
                        <div id="field-count"
                            style="margin-top: 0.5rem; font-size: 0.9rem; color: var(--text-secondary);">
                            0 selected
                        </div>
                    </td>
                    <td>
                        <select name="clinical-field" id="clinical-field" multiple size="20"
                            onchange="updateFieldCount()" required>
                            <option value="" disabled hidden>— Select one or more fields —</option>

                            {% for parent, children in clinical_fields.items() %}
                                <option value="{{ parent }}">{{ parent }}</option>
                                {% for child in children %}
                                    <option value="{{parent}}___{{ child }}">   .... {{ child }}</option>
                                {% endfor %}
                            {% endfor %}
                        </select>
                    </td>
                </tr>



                <tr id="practice-context-row" style="display: none;">
                    <td><label for="practice-context" class="required-asterisk">Context</label></td>
                    <td>
                        <select name="practice-context" id="practice-context">
                            <option value="">-- Select Context --</option>
                            {% for ctx in practice_context_options %}
                            <option value="{{ ctx.value }}">{{ ctx.value | capitalize}}</option>
                            {% endfor %}
                        </select>
                    </td>
                </tr>


                <!-- New fields -->
                <tr id="career_stage_row" style="display: none;">
                    <td><label for="career_stage">Career Stage</label></td>
                    <td>
                        <select name="career_stage" id="career_stage">
                            <option value="">-- Select Career Stage --</option>
                            <option value="Post-graduate training (residency, foundation years)">Post-graduate training (e.g., residency, foundation years)</option>
                            <option value="Sub-specialty training (fellowship)">Sub-specialty training (fellowship)</option>
                            <option value="fully-qualified/certified">Fully qualified or certified (e.g., attending, consultant)</option>
                            <option value="other">Other</option>
                        </select>
                    </td>
                </tr>
                <tr id="affiliation_row" style="display: none;">
                    <td><label for="affiliation">Affiliated with a university or teaching hospital?</label></td>
                    <td>
                        <select name="affiliation" id="affiliation">
                            <option value="">-- Select Affiliation --</option>
                            <option value="yes">Yes</option>
                            <option value="no">No</option>
                        </select>
                    </td>
                </tr>
                <tr id="graduation_year_row" style="display: none;">
                    <td><label for="graduation_year">Medical School Graduation Year</label></td>
                    <td>
                        <input type="number" name="graduation_year" id="graduation_year" min="1950" max="{{ current_year }}">
                    </td>
                </tr>
                <tr id="practice_setting_row" style="display: none;">
                    <td><label for="practice_setting">Practice Setting</label></td>
                    <td>
                        <select name="practice_setting" id="practice_setting" >
                            <option value="">-- Select Practice Setting --</option>
                            <option value="inpatient">Inpatient</option>
                            <option value="outpatient">Outpatient</option>
                            <option value="both">Both</option>
                        </select>
                    </td>
                </tr>
                <tr>
                <td>

                    <label>
                        
                        I have read and agree to the <a href="{{ url_for('terms_of_service') }}" target="_blank">terms
                            and conditions of
                            participation</a>
                    </label>
                
                </td>
                <td>
                <input type="checkbox" name="accept_terms" id="accept_terms" required>    
                </td>
            </tr>
            </table>

            <div style="text-align: center; margin-top: 1.5rem;">
                <button type="submit" class="btn btn-primary full-width"> Submit </button>
            </div>
        </form>
</section>

<!-- 
<script>


// show/hide & toggle required on Doctor‐only rows
  function toggleDoctorFields() {
    const isDoctor = document.getElementById('provider_type').value.toLowerCase() === 'doctor';
    
    // list of all the row‐ids and input‐ids
    const rows  = ['career_stage_row','affiliation_row','graduation_year_row','practice_setting_row'];
    const fields = ['career_stage','affiliation','graduation_year','practice_setting'];
    
    rows.forEach(id => {
      const tr = document.getElementById(id);
      if (tr) tr.style.display = isDoctor ? 'table-row' : 'none';
    });
    
    fields.forEach(fid => {
      const el = document.getElementById(fid);
      if (el) el.required = isDoctor;
    });
  }

  // wire it up
//   document.getElementById('provider_type')
//           .addEventListener('change', toggleDoctorFields);
  // also run on load in case it's pre‐filled
//   window.addEventListener('DOMContentLoaded', toggleDoctorFields);


    function updateFieldCount() {
        const select = document.getElementById("clinical-field");
        const count = Array.from(select.options).filter(option => option.selected).length;
        document.getElementById("field-count").innerText = `${count} selected`;
    }

    function toggleHealthcareRole(value) {
        const provider_type_block = document.getElementById('provider_type_block');
        const fieldRow = document.getElementById('clinical-field-row');
        const practiceContextRow = document.getElementById('practice-context-row');


        const providerType = document.getElementById('provider_type');
        const field = document.getElementById('clinical-field');
        const practiceContext = document.getElementById('practice-context');

        const isProvider = (value === 'healthcare provider');

        providerType.required = isProvider;
        field.required = isProvider;
        practiceContext.required = isProvider;

        provider_type_block.style.display = isProvider ? 'table-row' : 'none';
        fieldRow.style.display = isProvider ? 'table-row' : 'none';
        practiceContextRow.style.display = isProvider ? 'table-row' : 'none';

        // If not a provider, also hide dependent rows and reset their values
        if (!isProvider) {
            providerType.selectedIndex = 0;
            field.selectedIndex = 0;
            practiceContext.selectedIndex = 0;
        }
    }


</script> -->


{% endblock %}